
body{
    font-size: 13px !important;
    overflow-x: hidden !important;
}

.header{
    background: #ccc;
    padding: 5px 20px;
    padding-left: 20px !important;
    font-size: 14px !important;
    font-weight: 500;
}

.row{
    border-bottom: 1px solid #666 !important;
}

label{
    margin: 0 !important;
}

input.form-control, textarea.form-control{
    padding: 5px !important;
    font-size: 13px !important;
    border-radius: 0 !important;
    border: 0 !important;
    background: #f6f6fe !important;
}

.table{
    margin-bottom:0 !important;
}

table tr th, table tr td{
    font-weight: 400 !important;
    padding: 0 !important;
    vertical-align: middle !important;
}

table tr th{
    padding-left: 10px !important;
    background: #f6f6f6 !important;
    font-size: 13px !important;
}

table tr td{
    padding: 2px !important;
    font-size: 13px !important;
}
.checkbox-inline{
    display: inline-block;
}

input[type="checkbox"], input[type="radio"]{
    width: 16px !important;
    height: 16px !important;
    vertical-align: middle !important;
    margin-right: 5px !important;
    margin-left: 6px !important;
    margin-bottom: 10px !important;
}

input:focus, textarea:focus, select:focus{
    background-color: #ebe7c6 !important;
}
