@media print {
	@page {
		size: A4;
    }
	html,body{
		height: 99% !important;
	}
	.org-img{
		width: 70px !important;
	}
	.noPrint {
		display: none;
	}
	.modal-dialog, .modal-lg{
		width: 100% !important;
	}
	.invoicereport{
		width: 100% !important;
		margin-left: 0 !important;
	}
	.section .content{
		margin: 0 !important;
	}
	.sidebar{
		width: 0 !important;
		display: none;
	}

	.border-grey{
        border-bottom: 0.1em solid #ccc !important;
    }

	.border-bottom{
        border-bottom: 1px solid #333 !important;
    }
    .border-right{
        border-right: 1px solid #333 !important;
    }
    .border-left{
        border-left: 1px solid #333 !important;
    }

	.no-padding, .no-padding tbody tr td, .no-padding tbody tr th{
	   padding: 0 !important;
	   border: 1px solid #333 !important;
   }

   .no-border, .no-border tbody tr td, .no-border tbody tr th{
	   border: 0px !important;
   }

   .tbl-text{
	   margin-top:1px !important;
	   padding:2px !important;
	   margin-bottom:1px !important;
   }

   .no-bottom{
	   margin-bottom: 0 !important;
	   border-bottom: 0 !important;
   }

   div{
	    border-bottom: 0 !important;
   }

   .sig{
	   margin-top: 24% !important;
   }

	.footer{
		width: 100% !important;
		bottom: 0 !important;
		position: absolute; !important;
		display: table-footer-group;
	}

   .inv-foot-add{
	   position: absolute;
       bottom: 0;
	   margin-bottom: 12px;
	   vertical-align:bottom !important;
   }

   .inv-foot-bar{
	  position: absolute !important;
	  bottom: 0px !important;
	  vertical-align:bottom !important;
   }

    a[href]:after { content: none !important; }

	table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

	.annexure .no-padding-border thead tr th{
        border: 1px solid #ccc !important;
        background: #ddd !important;
    }

	.annexure table tbody{
		height: 500px !important;
	}

	div.page{
		page-break-before:auto;
  	    page-break-after:auto;
	}

	.text-black{
		color: #333 !important;
	}
}
