
Conversation opened. 1 read message.

Skip to content
Using ApnaCare.in Mail with screen readers
Search



Mail
COMPOSE
Labels
Inbox
Starred
Sent Mail
Drafts (2)
More 
Chat
Nitish Patra

Search people...
Idle	niraj khedkar
 
  More 
2 of 473  
 
Print all In new window
Files 
Inbox
x 

Suhas P R <suhas@apnacare.in>
Attachments11:54 AM (3 hours ago)

to me 
PFA

Attachments area
Preview YouTube video Smart Pill Reminder by ApnaCare

Smart Pill Reminder by ApnaCare
	
Click here to Reply or Forward
1.37 GB (4%) of 30 GB used
Manage
Program Policies
Powered by Google
Last account activity: 3 hours ago
Details
Suhas P R
suhas@apnacare.in

Show details


/*  vertical tab */
div.vertical-tab-container{
  width: 96% !important;
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 5px;
  margin-left: 30px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.vertical-tab-menu{
  width: 13.33%;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 1px !important;
}
div.vertical-tab-menu div.list-group{
  margin-bottom: 0;
}
div.vertical-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.vertical-tab-menu div.list-group>a .glyphicon,
div.vertical-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.vertical-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.vertical-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.vertical-tab-menu div.list-group>a.active,
div.vertical-tab-menu div.list-group>a.active .glyphicon,
div.vertical-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.vertical-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.vertical-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 30px;
  padding-top: 10px;
}

div.vertical-tab div.vertical-tab-content:not(.active){
  display: none;
}

div.vertical-tab{
    border-left: 0px solid #ccc;
    margin-bottom: 0 !important;
}
vtabs.css
Open with
Displaying vtabs.css.